*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    padding: 80px;
}
.top h1{
    width: 350px;
    font-size: 40px;
}
.text{
    width: 350px;
}
.top{
    display: flex;
    align-items:center;
justify-content: space-around;
width: 70vw;
}
.allstar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    margin-right: 90px;
}
.down{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 900px;
    margin-left: 85px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 40vh;
  }
  .card1{
    background-color:rgb(136, 65, 136);
    font-size:70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 270px;
    height: 170px;
    border-radius: 5px;
    padding: 25px;
  }
   .img1{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: -10px;
   }
   .tiny1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
   }
   .imgt1{
    font-size: 70%;
    
   }
   .card2{
    background-color:rgb(136, 65, 136);
    font-size:70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 270px;
    height: 170px;
    border-radius: 5px;
    padding: 25px;
    margin-top: 30px;
  }
   .img2{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: -10px;
   }
   .tiny2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
   }
   .imgt2{
    font-size: 70%;
    
   }
   
   .card3 {
    background-color:rgb(136, 65, 136);
    font-size:70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 270px;
    height: 170px;
    border-radius: 5px;
    padding: 25px;
    margin-top: 60px;
   }
   .img3{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: -10px;
   }
   .tiny3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
   }
   .imgt3{
    font-size: 70%;
    }
    .rate1{
        background-color: lightpink;
        margin-right: 250px;
        height: 42px;
        padding: 10px;
        }
    .rate2{
        background-color: lightpink;
        margin-right: 150px;
        height: 42px;
        padding: 10px;
    }
    .rate3{
        margin-right: 80px;
        background-color: lightpink;
        height: 42px;
        padding: 10px;
    }
    .color{
        color: fuchsia;
    }
    .p1{
        color: white;
        font-weight:bold;
    }